# Telegram
TELEGRAM_BOT_TOKEN=8691465385:AAHHSi0ScPdFaBRUf5aHPZ4DWHQcakeGKMY
TELEGRAM_CHAT_ID=-7699112636

# Dashboard basic auth
DASHBOARD_USERNAME=admin
DASHBOARD_PASSWORD=Admin@1234

# App
APP_TIMEZONE=Asia/Kolkata
